<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/index.css' %}" rel="stylesheet"/>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/json2.js' %}"></script>
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
        });
        function getDepartment(){

            var academy = $("#select_academy_selection").val();
            $.ajax({
                type:'POST',
                data:{'academy': academy},
                url:"{% url 'user:get_department' %}",
                cache: false,
                dataType: 'html',
                success: function(result){
                    var jsonObj = new Array();
                    jsonObj = JSON.parse(result);
                    var htmlreverse = '<select id="select_department_selection">'+
                      '<option value selected="selected">--------</option>';
                    for(var x in jsonObj){
                        htmlreverse += "<option value=" +x+ ">" +jsonObj[x]+ "</option>";
                    }
                    htmlreverse += "</select>";
                    $("#select_department_selection").replaceWith(htmlreverse);
                },
                error: function(result){
                    alert(result);
                }
            });
            return false;
        }
        function UserInfoSubmit(){
            $("#submit_img").attr('class', 'test');
            var sex = $("#select_sex_selection").val();
            var academy = $("#select_academy_selection").val();
            var department = $("#select_department_selection").val();
            var identity = $("#select_identity_selection").val();
            var UserInfo = {'sex':sex, 'academy':academy, 'department':department, 'identity': identity};
            $("#errors").attr('class', 'sr-only');
            for (var item in UserInfo){
                $("#" + item).attr("class", "sr-only");
            }
            $("#UserInfoSubmit").attr('disabled', 'disabled');
            console.log(UserInfo);
            $.ajax({
                type:'POST',
                data:UserInfo,
                url:"{% url 'user:improve_user_info' %}",
                cache: false,
                dataType: 'html',
                success: function(result){
                    var jsonObj = new Array();
                    jsonObj = JSON.parse(result);
                    if (jsonObj['errors'] == '1')
                    {
                        for (var item in jsonObj){
                            console.log(item);
                            $("#" + item).attr("class", "alert alert-danger");
                        }
                    }
                },
                error: function(result){
                    alert("提交出现问题");
                }
            });
            $("#submit_img").attr('class', 'sr-only');
            $("#UserInfoSubmit").removeAttr('disabled','disabled');
           return false;
        }
    </script>
    <title>{% block title %}主页{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-default  navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'user:index' %}">安全云</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

{#          <form class="navbar-form navbar-left" role="search">#}
{#            <div class="form-group">#}
{#              <input type="text" class="form-control" placeholder="Search">#}
{#            </div>#}
{#            <button type="submit" class="btn btn-default">Submit</button>#}
{#          </form>#}
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.email }} <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="#" data-toggle="modal" data-target="#complete_user_info">完善账户信息</a></li>
                      <li><a href="#">修改密码</a></li>
                      <li><a href="{% url 'user:logout' %}">注销登录</a></li>
                  </ul>
              </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="modal fade" id="complete_user_info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">完善账户信息</h4>
          </div>
          <div class="sr-only" id="submit_img">
            <img src="{% static 'img/super_saya.gif' %}"/>
          </div>
          <div class="modal-body info_improve">
            <form>
              <div class="sr-only" id="errors" role="alert"><p>请完善以下信息</p></div>
              <div class="select_sex" id="select_sex">
                <div class="sr-only" id="sex" role="alert"><p>请选择性别</p></div>
                <label class="label_left" for="select_sex_selection">性别 :</label>
                <select id="select_sex_selection">
                  <option value selected="selected">--------</option>
                  <option vlaue="2">男</option>
                  <option value="1">女</option>
                </select>
              </div>
              <div class="select_academy">
              <div class="sr-only" id="academy" role="alert"><p>请选择学院</p></div>
                  <label class="label_left" for="select_academy_selection">学院 :</label>
                  <select id="select_academy_selection" onchange="getDepartment()">
                      <option value selected="selected">--------</option>
                      {% for academy in academys %}
                          <option value="{{ academy.id }}">{{ academy.name }}</option>
                      {% endfor %}
                  </select>
              </div>
              <div class="select_department">
                  <div class="sr-only" id="department" role="alert"><p>请选择所在系</p></div>
                  <label class="label_left" for="select_department_selection">所在系:</label>
                  <select id="select_department_selection">
                      <option value selected="selected">--------</option>
                  </select>
              </div>
            <div class="select_identity">
                  <label class="label_left" for="select_identity_selection">身份:</label>
                  <div class="sr-only" id="identity" role="alert"><p>请选择身份</p></div>
                  <select id="select_identity_selection">
                      <option value selected="selected">--------</option>
                      <option value="1">本科生</option>
                      <option value="2">研究生</option>
                      <option value="2">教师</option>
                  </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" id="UserInfoSubmit" class="btn btn-primary" onclick="UserInfoSubmit()">完成</button>
          </div>
        </div>
      </div>
    </div>
{#    <br/>#}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="{% url 'user:index' %}">overview<span class="sr-only">(current)</span></a></li>
                    <li><a href="{% url 'user:upload' %}">上传文件</a></li>
                    <li><a href="{% url 'user:download' %}">下载文件</a></li>
                    <li><a href="{% url 'user:share' %}">共享我的文件</a></li>
                    <li><a href="{% url 'user:share' %}">文件列表</a></li>
                </ul>
            </div>
            <div class="col-sm-8 col-md-10 col-sm-offset-2 col-md-offset-2 main">
                {% block intert-hook %}
                    <div class="overview">
                        <h1 class="page-header">overview</h1>
                        <p>本站是采用django开发，使用属性加密保证安全性的云存储系统</p>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>