<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    {# Load CSS and JavaScript #}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet"/>

    <title>用户登录</title>
</head>
<body>
    <div class="container">
        <form class="form-signin" method="post">
            {% csrf_token %}
            <h2 class="form-signin-heading">请登录</h2>
            <label for="id_email" class="sr-only">Email address</label>
            <input type="email" id="id_email" maxlength="255" name="email" class="form-control" placeholder="Email address" required autofocus>
            <label for="id_password" class="sr-only">Password</label>
            <input type="password" id="id_password" maxlength="128" name="password" class="form-control" placeholder="Password" required>
            <input type="hidden" name="next" value="{{ next }}" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
            <br/>
            <a href="{% url 'user:register' %}"><button class="btn btn-lg btn-info btn-block" type="button">注册</button></a>

      </form>
    </div>
{#    <div class="container">#}
{#        <form class="form-signin" method="post" class="form">#}
{#         <h2 class="form-signin-heading">请登录</h2>#}
{#          {% csrf_token %}#}
{#          {% bootstrap_form form %}#}
{#          {% buttons %}#}
{#            <button type="submit" class="btn btnbtn-lg btn-primary btn-block">#}
{#               登录#}
{#            </button>#}
{#          {% endbuttons %}#}
{#        </form>#}
{#    </div>#}
</body>
</html>