{% extends 'User/index.html' %}
{% load staticfiles %}
{% block css_block %}
<link href="{% static 'css/message_list.css' %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block script %}
<script>
    function new_message_submit(){
{#        var modal = $("#modal");#}
{#        modal.attr('id');#}
{#        modal.find("btn").removeClass('btn-info').addClass('btn-danger').html('失败');#}

        $("#new_message_submit").attr('disabled', 'disabled');
        $("#new_message_blank_error").attr('class', 'sr-only');
        var content = $(".new_message #content_input").val();
        if (content == ''){
            $("#new_message_blank_error").attr('class', 'alert alert-danger');
            $("#new_message_submit").removeAttr('disabled');
        }
        else{
            $.ajax({
                type: 'POST',
                data: {'content': content},
                url: "{% url 'user:upload_new_message' %}",
                cache: false,
                dataType: 'html',
                success: function(result){
                    if (result == '0')
                    {
                        alert("输入不能为空,绕过前端还有后端");
                        $("#new_message_submit").attr('disabled', 'disabled');
                    }
                    if (result == '1')
                    {
                        alert("数据库存储出现问题, 请联系管理员 电话。。。。。。");
                        $("#new_message_submit").attr('disabled', 'disabled');
                    }
                    else{
                        $(".message-list").prepend(result);
                        $("#new_message_submit").removeAttr('disabled');
                        $(".new_message #content_input").val("test");
                    }
                },
                error: function(result){
                    alert("提交出现问题");
                    console.log(result);
                    $("#new_message_submit").removeAttr('disabled');
                    $(".new_message #content_input").val("");
                }
            });
            return false;
        }
    }
    var reply_info;
    function get_inline_reply_info(obj){
        console.log($(obj).attr('id'));
        reply_info = $(obj).attr('id');
        console.log(reply_info);
    }
    function new_message_inline_submit(){
        var info = reply_info.split(' ');
        console.log(info);
        var modal = $("#message_reply");
        modal.find("#reply-submit").attr('disabled', 'disabled').removeClass('btn-info').addClass('btn-danger').html('<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> 提交中');
        var content = modal.find("#id_content").val();
        modal.find("#miss_content").attr('class', 'sr-only');
        if (content == ''){
            modal.find("#miss_content").removeClass('sr-only').addClass('alert alert-danger');
            modal.find("#reply-submit").removeAttr('disabled').removeClass('btn-danger').addClass('btn-info').html('提交');
        }
        else{
            $.ajax({
                type: 'POST',
                data: {'info': reply_info, 'content': content},
                url: "{% url 'user:upload_new_inline_message' %}",
                cache: false,
                dataType: 'html',
                success: function(result){
                    if (result == '1'){
                        alert("您所评论的内容已不存在， 可能被发布者删除了， 请刷新页面");
                    }
                    else if (result == '2'){
                        alert("数据库I/O存在错误");
                    }
                    else{
                        $("#message_id_" + info[1]).find('.message-list-inline').prepend(result);
                    }
                    modal.find("#miss_content").attr('class', 'sr-only');
                    modal.find("#reply-submit").removeAttr('disabled').removeClass('btn-danger').addClass('btn-info').html('提交');
                    modal.find("#id_content").val("");
                    modal.modal('hide');
                    alert("回复成功");
                },
                error: function(result){
                    console.log(result);
                    alert("回复出现问题");
                }
            });
            return false;
        }
        console.log(content);
    }
</script>
{% endblock %}
{% block title %}消息列表{% endblock %}
{% block modal %}
    <div class="modal fade" id="message_reply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">回复</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="id_content" class="control-label">内容:</label>
                            <div class="sr-only" id="miss_content" role="alert">
                                <p>回复内容不能为空</p>
                            </div>
                            <textarea class="form-control" id="id_content" maxlength="125" placeholder="请输入回复的内容（不超过125个字）"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="reply-submit" class="btn btn-primary" onclick="new_message_inline_submit()">提交</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block intert-hook %}
    <div class="overview">
       <h1 class="page-header">消息列表</h1>
       <div class="container-fluid">

           <div class="row">
               <div class="col-sm-12 col-md-9 new_message">
                   <form>
                       <div class="form-group">

                           <label for="content_input">新的消息</label>
                           <p class="sr-only" id="new_message_blank_error" role="alert">输入内容不能为空</p>
                           <textarea class="form-control" id="content_input" maxlength="250" placeholder="输入您发布的消息(不超过250字)" required autofocus></textarea>
                       </div>
                   </form>
                   <button type="button" id="new_message_submit" class="btn btn-info" onclick="new_message_submit()">发布</button>
               </div>
           </div>

           <div class="row message-list">
               {% for message in messages %}
               <div class="col-sm-12 col-md-9 message-list-single" id="message_id_{{ message.id }}">
                   <div class="row">
                       <div class="col-xs-3 col-sm-2 col-md-2 message-list-top-head-img">
                           <div class="head-img">
                               {% if message.file_plug_in %}
                               <img src="{% static 'img/file.png' %}" class="img-thumbnail">
                               {% else %}
                               <img src="{% static 'img/figure.png' %}"  class="img-thumbnail">
                               {% endif %}
                           </div>
                       </div>
                       <div class="col-xs-9 col-sm-8 col-md-9 message-list-top-content">
                           <div class="user">
                               <p>
                                   <span>{{ message.user.username }} </span>
                                   {% if message.file_plug_in %}
                                       分享了文件
                                   {% else %}
                                       发布了信息
                                   {% endif %}

                               </p>
                           </div>
                           <div class="content">
                               <div class="content-detail">
                                   <p>{{ message.content }}</p>
                               </div>
                           </div>
                           <div class="file-plugin">
                               {% if message.file_plug_in %}
                                    <button class="btn btn-info btn-xs"><a href="{% url 'user:file_down_single' message.file_plug_in.id %}" target="_blank">附件下载</a></button><span> <a href="{% url 'user:file_down_single' message.file_plug_in.id %}" target="_blank">{{ message.file_plug_in }}</a></span>
                               {% endif %}
                           </div>
                           <div class="date-info">
                               <p>
                                   <span>{{ message.date }} 发布</span>
                                   <button class="btn btn-info btn-xs" id="btnTop {{ message.id }} {{ message.user.username }}" data-toggle="modal" onclick="get_inline_reply_info(this)" data-target="#message_reply">回复</button>
                               </p>
                           </div>
                       </div>
                       <div class="col-xs-10 col-sm-10 col-md-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-2">

                           <div class="row message-list-inline">
                           {% for message_inline in message.messagelistinline_set.all %}
                               <div class="col-xs-3 col-sm-3 col-md-2 message-list-inline-head-img-field">
                                   <div class="head-img">
                                        <img src="{% static 'img/figure.png' %}"  class="img-thumbnail">
                                   </div>
                               </div>
                               <div class="col-xs-9 col-sm-8 col-md-9 message-list-inline-content">
                                   <div class="user">
                                       <p><span style="color: #428bca">{{ message_inline.user.username }} </span>
                                           {% if message_inline.user_pre %}
                                           回复 <span>{{ message_inline.user_pre }}</span>
                                           {% endif %}
                                       </p>
                                   </div>
                                   <div class="content">
                                       <div class="content-detail">
                                           <p>{{ message_inline.content }}</p>
                                       </div>
                                   </div>
                                   <div class="date-info">
                                       <p>
                                           <span>{{ message_inline.date }} 发布</span>
                                           <button class="btn btn-info btn-xs" id="btnInline {{ message_inline.messageList_id }} {{ message_inline.user.username }}" data-toggle="modal" data-target="#message_reply" onclick="get_inline_reply_info(this)">回复</button>

                                       </p>
                                   </div>
                               </div>
                               {% endfor %}
                           </div>

                       </div>
                   </div>
               </div>
               {% endfor %}
           </div>








       </div>
    </div>
{% endblock %}