{% extends 'User/index.html' %}
{% block script %}
    <script>
        function set_file_share_object(){
            var share_type = $("#id_share_type").val();
            if (share_type == "2"){
                $("#fileAttributeSelect").removeAttr('hidden', 'hidden');
            }
        }
        function GetMultipleDepartment(){
            var academy = $("#file_academy_select").val();
            var data_return = '';
            for (var i = 0; i < academy.length - 1; i++){
                data_return += academy[i];
                data_return += ',';

            }
            data_return += academy[i];
            $.ajax({
                type:'POST',
                data:{'academy': data_return},
                url:{% url 'user:get_department_multiple' %},
                cache: false,
                dataType: 'json',
                success: function(result){
                    console.log(result);
                    var htmlReplace = '<select multiple class="form-control" id="file_department_select">';
                    for (var i in result){
                        htmlReplace += '<option value=' + 'i' + '>' + result[i] + '</option>';
                    }
                    htmlReplace += '</select>';
                    $("#file_department_select").replaceWith(htmlReplace);
                },
                error: function(result){
                    console.log(result);
                }
            });
        }
    </script>
{% endblock %}
{% block title %}文件上传{% endblock %}
{% block intert-hook %}
    <div class="overview">
       <h1 class="page-header">文件上传</h1>
       <p>文件上传</p>
        <div class="file-upload">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <p><label for="id_file">File:</label> <input id="id_file" name="file" type="file" /></p>
                <p>
                    <label for="id_share">Share:</label> <input id="id_share" maxlength="30" name="share" type="text" readonly="readonly" />
                    <p>
                        <label for="id_share_type">文件共享:</label>
                            <select id="id_share_type" name="share_type" onchange="set_file_share_object()">
                                <option value="" selected="selected">选择文件共享类型</option>
                                <option value="3">私人</option>
                                <option value="1">公开</option>
                                <option value="2">可共享</option>
                            </select>
                    </p>

                </p>
                <button class="btn btn-info" type="submit">上传</button>
            </form>
        </div>
        <form class="form-horizontal" id="fileAttributeSelect" hidden="hidden">
            <h3>选择文件分享的对象</h3>
            <br/>
            <div class="form-group">
                <div class="col-sm-9">
                    <label>选择文件可共享对象的性别</label>
                    <select class="form-control" id="file_sex_selection">
                        <option value selected="selected">选择文件可共享对象的性别</option>
                        <option vlaue="0">全选</option>
                        <option value="1">女</option>
                        <option value="2">男</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <label>选择文件可共享对象的身份</label>
                    <select class="form-control" id="file_identity_select">
                        <option value selected="selected">选择文件可共享对象的身份</option>
                        <option value="1">本科生</option>
                        <option value="2">研究生</option>
                        <option value="3">教师</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <label>选择文件可共享对象的所在学院</label>
                    <select multiple class="form-control" id="file_academy_select">
                        {% for academy in academys %}
                            <option value="{{ academy.id }}">{{ academy.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button class="btn btn-info" type="button" onclick="GetMultipleDepartment()">获得选择学院的专业</button>
            <div class="form-group">
                <div class="col-xs-9">
                    <label>选择文件可共享对象的所在系</label>
                    <select multiple class="form-control" id="file_department_select">

                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <button type="submit" class="btn btn-info">确定文件共享对象</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}