{% extends 'User/index.html' %}
{% block script %}
    <script>
        var file_share_dander_info = ["file_share_sex", "file_share_identity", "file_share_academy", "file_share_department"];
        function set_file_share_object(){
            var share_type = $("#id_share_type").val();
            if (share_type == "2"){
                $("#fileAttributeSelect").removeAttr('hidden', 'hidden');
            }
            else if(share_type == '1'){
                $("#fileAttributeSelect").attr('hidden', 'hidden');
                $("#id_share").val("public");
            }
            else if(share_type == '3'){
                $("#fileAttributeSelect").attr('hidden', 'hidden');
                $("#id_share").val("private");
            }
        }
        function GetMultipleDepartment(){
            var academy = $("#file_academy_select").val();
            var data_return = '';
            for (var i = 0; i < academy.length - 1; i++){
                data_return += academy[i];
                data_return += ',';

            }
            data_return += academy[i];
            $.ajax({
                type:'POST',
                data:{'academy': data_return},
                url:{% url 'user:get_department_multiple' %},
                cache: false,
                dataType: 'json',
                success: function(result){
                    console.log(result);
                    var htmlReplace = '<select multiple class="form-control" id="file_department_select">';
                    for (var i in result){
                        htmlReplace += '<option value=' + i + '>' + result[i] + '</option>';
                    }
                    htmlReplace += '</select>';
                    $("#file_department_select").replaceWith(htmlReplace);
                },
                error: function(result){
                    console.log(result);
                }
            });
        }
        function removeDangerInfo(){
            for (var item in file_share_dander_info){
                $("#" + file_share_dander_info[item]).attr("class", "sr-only");
            }
        }
        function fileShareComplete(){
            removeDangerInfo();
            var flag = 1;
            var sex = $("#file_sex_selection").val();
            if (sex == ''){
                $("#file_share_sex").attr("class", "alert alert-danger");
                flag = 0;
            }
            var identity = $("#file_identity_select").val();
            if (identity == ''){
                $("#file_share_identity").attr("class", "alert alert-danger");
                flag = 0;
            }
            var academy = $("#file_academy_select").val();
            if (identity == ''){
                $("#file_share_academy").attr("class", "alert alert-danger");
                flag = 0;
            }
            var department = $("#file_department_select").val();
            if (department == null){
                $("#file_share_department").attr("class", "alert alert-danger");
                flag = 0;
            }
            if (flag == 1) {
                var file_share = sex + ":" + identity + ":" + academy + ":" + department;
                $("#fileAttributeSelect").attr('hidden', 'hidden');
            }
            else{
                alert("请完善文件共享信息");
            }
            $("#id_share").val(file_share);
        }
    </script>
{% endblock %}
{% block title %}文件上传{% endblock %}
{% block intert-hook %}
    <div class="overview">
       <h1 class="page-header">文件上传</h1>
       <p>文件上传</p>
        <div class="file-upload">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <p><label for="id_file">File:</label> <input id="id_file" name="file" type="file" /></p>
                <p>
                    <label for="id_share">Share:</label> <input id="id_share" maxlength="400" name="share" type="text" readonly="readonly" />
                    <p>
                        <label for="id_share_type">文件共享:</label>
                            <select id="id_share_type" name="share_type" onchange="set_file_share_object()">
                                <option value="" selected="selected">选择文件共享类型</option>
                                <option value="3">私人</option>
                                <option value="1">公开</option>
                                <option value="2">可共享</option>
                            </select>
                    </p>

                </p>
                <button class="btn btn-info" type="submit">上传</button>
            </form>
        </div>
        <form class="form-horizontal" id="fileAttributeSelect" hidden="hidden">
            <h3>选择文件分享的对象</h3>
            <br/>
            <div class="form-group">
                <div class="col-sm-9">
                    <label>选择文件可共享对象的性别</label>
                    <div class="sr-only" id="file_share_sex" role="alert"><p>请选择性别</p></div>
                    <select class="form-control" id="file_sex_selection">
{#                        <option value selected="selected">选择文件可共享对象的性别</option>#}
                        <option value="0">全选</option>
                        <option value="1">女</option>
                        <option value="2">男</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <label>选择文件可共享对象的身份</label>
                    <div class="sr-only" id="file_share_identity" role="alert"><p>请选择身份</p></div>
                    <select multiple class="form-control" id="file_identity_select">
{#                        <option value selected="selected">选择文件可共享对象的身份</option>#}
                        <option value="4">本科生</option>
                        <option value="5">研究生</option>
                        <option value="6">教师</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <label>选择文件可共享对象的所在学院</label>
                <div class="sr-only" id="file_share_academy" role="alert"><p>请选择学院</p></div>
                    <select multiple class="form-control" id="file_academy_select">
                        {% for academy in academys %}
                            <option value="{{ academy.id }}">{{ academy.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button class="btn btn-info" type="button" onclick="GetMultipleDepartment()">获得选择学院的专业</button>
            <div class="form-group">
                <div class="col-xs-9">
                    <label>选择文件可共享对象的所在系</label>
                    <div class="sr-only" id="file_share_department" role="alert"><p>请选择所在系</p></div>
                    <select multiple class="form-control" id="file_department_select">

                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <button type="button" class="btn btn-info" id="file_share_complete" onclick="fileShareComplete()">确定文件共享对象</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}